
/**header search**/
.p-form__search {
	margin-bottom: 5px;
}
input.p-form__search__input {
	width: calc(100% - 50px);
}
input.p-form__search__submit {
	width: 40px;
	text-indent: -9999px;
	background: url(../../../img/icon_search_w.svg) no-repeat center center #41c1eb;
	background-size: 50% auto;
}
input.p-form__search__submit--plane {
	background: url(../../../img/icon_plane.svg) no-repeat center center #41c1eb;
	background-size: 50% auto;
}

/**detail open**/
.p-form__detailopen {
	font-size:1.2rem;
	line-height:1;
	box-sizing: border-box;
	padding-left:28px;
	min-height:24px;
	background: url(../../../img/icon_detail_circle.svg) no-repeat left center;
}

/**checkbox**/
.p-form__checkbox label {
	width:calc(50% - 3px);
	margin-bottom:5px;
}
.p-form__checkbox label:nth-child(odd) {
    margin-right:5px;
}
.p-form__checkbox label.p-form__checkbox__w100:nth-child(odd),
label.p-form__checkbox__w100 {
	width:100%;
	margin-right:0;
}
.p-form__checkbox label:last-child,
.p-form__checkbox label:not(.p-form__checkbox__w100):nth-last-child(2) {
    margin-bottom:0;
}


/**jobsearch**/
.p-form__jobsearch {
	box-sizing:border-box;
    padding:40px 10px 60px;
	background: #FFFFFF;
	width: 100%;
	height:100vh;
	overflow:auto;
	position: fixed;
	left:0;
	z-index: 110;
	transition:.5s;
	top:100vh;
}
.p-form__jobsearch.is-active {
	top:0;
}
.p-form__jobsearch__item {
    margin-bottom:10px;
}
.p-form__jobsearch__title {
	font-size:1.5rem;
	font-weight:600;
	margin-bottom:10px;
	padding-top:10px;
	box-sizing:border-box;
	padding-right:30px;
	position:relative;
}
.p-form__jobsearch__title::before {
	content:'';
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	right:5px;
	bottom:0;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
	background-image:url(../../../img/icon_plus.svg);
	cursor:pointer;
}
.p-form__jobsearch__title.is-active::before {
	background-image:url(../../../img/icon_minus.svg);
}

.p-form__jobsearch__title span {
	display:inline-block;
	font-size:0.8em;
	font-weight:400;
}

.p-form__jobsearch__title + .p-form__jobsearch__item {
	display: none;
}

.p-form__jobsearch__btn {
	box-sizing: border-box;
	padding:10px 0;
	background: #FFFFFF;
	position: fixed;
	bottom:-60px;
	left:0;
	z-index: 1;
	transition:.5s;
	box-shadow:0 -2px 3px rgba(0,0,0,.1);
}

.p-form__jobsearch.is-active .p-form__jobsearch__btn {
	bottom:0;
}

/**close**/
.p-form__jobsearch__close {
	display: block;
	position: absolute;
	top:10px;
	right: 15px;
	width: 20px;
	height: 20px;
	background: url("../../../img/icon_close.svg") no-repeat center center;
	background-size: contain;
}


/**login**/
.p-form__login {
	min-height:80vh;
	box-sizing:border-box;
}
.p-form__login__logo {
	width:55%;
	max-width:250px;
	margin:0 auto 45px;

}
.p-form__login__form {
	width:90%;
	margin:0 auto;
	box-sizing:border-box;
	padding-bottom:30px;
	text-align:center;
}
.p-form__login__form input {
	margin-bottom:10px;
}
.p-form__login__form__foget {
	color:#41c1eb;
}


/**step**/
.p-form__step {
	background-color:#d8edff;
	box-sizing:border-box;
	padding:40px 0 10px;
	position:relative;
}
.p-form__step__item {
	width:calc(100%/4);
	text-align:center;
	font-size:1.3rem;
	position:relative;
}
.p-form__step__item::before {
	content:'';
    display:block;
    width:14px;
    height:14px;
    background:#FFFFFF;
    border-radius:50%;
    position:absolute;
    top:-20px;
    left:50%;
    transform:translateX(-50%);
    z-index:2;
    box-shadow:0 0 2px rgba(0,0,0,.3);
}
.p-form__step__item:not(:last-child)::after {
	content:'';
    display:block;
    width:100%;
    height:4px;
    background:#FFFFFF;
    position:absolute;
    top:-15px;
    left:50%;
    z-index:1;
    box-shadow:0 0 2px rgba(0,0,0,.3);
}
.p-form__step.p-form__step--step1 .p-form__step__item:first-child::before,
.p-form__step.p-form__step--step2 .p-form__step__item:first-child::before,
.p-form__step.p-form__step--step3 .p-form__step__item:first-child::before,
.p-form__step.p-form__step--step4 .p-form__step__item:first-child::before {
	background:#2473de;
}
.p-form__step.p-form__step--step2 .p-form__step__item:nth-child(2)::before,
.p-form__step.p-form__step--step3 .p-form__step__item:nth-child(2)::before,
.p-form__step.p-form__step--step4 .p-form__step__item:nth-child(2)::before {
	background:#2473de;
}
.p-form__step.p-form__step--step3 .p-form__step__item:nth-child(3)::before,
.p-form__step.p-form__step--step4 .p-form__step__item:nth-child(3)::before {
	background:#2473de;
}
.p-form__step.p-form__step--step4 .p-form__step__item:nth-child(4)::before {
	background:#2473de;
}
.p-form__step.p-form__step--step2 .p-form__step__item:first-child::after,
.p-form__step.p-form__step--step3 .p-form__step__item:first-child::after,
.p-form__step.p-form__step--step4 .p-form__step__item:first-child::after {
	background:#2473de;
}
.p-form__step.p-form__step--step3 .p-form__step__item:nth-child(2)::after,
.p-form__step.p-form__step--step4 .p-form__step__item:nth-child(2)::after {
	background:#2473de;
}
.p-form__step.p-form__step--step4 .p-form__step__item:nth-child(3)::after {
	background:#2473de;
}


/**regstration**/
.p-form__registration {
	padding-top:15px;
}
.p-form__registration__title {
	font-size:1.6rem;
	margin-bottom:1em;
}
.p-form__registration__title span {
	font-size:.8em;	
}
.p-form__registration__stitle {
	font-size:1.4rem;
	font-weight:600;
	margin-bottom:.2em;
}
.p-form__registration__item {
	margin-bottom:15px;
	position: relative;
}
.p-form__registration__item--confirm {
	background:#EFEFEF;
	box-sizing:border-box;
	padding:5px;
	color:#999999;
}
.p-form__registration__item__icon {
	display:block;
	width:30px;
	height:30px;
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	background-image:url(../../../img/icon_eye2.svg);
    background-repeat:no-repeat;
    background-position:center center;
	background-size:60% auto;
}
.p-form__registration__item__icon.is-active {
	background-image:url(../../../img/icon_eye.svg);
}
.p-form__registration__item input,
.p-form__registration__item select {
	background-color:#FFFFFF;
	box-sizing:border-box;
	border:1px solid #c6cdd5;
}
.p-form__registration__item__radio label {
	width:50%;
}
.p-form__registration__item__radio label:first-child input + span {
	border-radius:20px 0 0 20px;
	border-color:#c6cdd5;
	color:#c6cdd5;
	font-size:1.6rem;
}
.p-form__registration__item__radio label:last-child input + span {
	border-radius:0 20px 20px 0;
	border-left:0;
	border-color:#c6cdd5;
	color:#c6cdd5;
	font-size:1.6rem;
}
.p-form__registration__item__radio label input:checked + span {
	background:#c6cdd5;
	color:#FFFFFF;
}
.p-form__registration__btn {
	padding-top:20px;
}