.p-profile {
	
}
.p-profile__title {
	font-size:1.6rem;
	margin-bottom:.8em;
}
.p-profile__photo {
	margin-bottom:30px;
}
.p-profile__photo__item {
	width: calc(20% - 5px);
	position:relative;
	margin-right:5px;
}
.p-profile__photo__item__add {
    display:block;
    width:100%;
    padding-top:100%;
	background: url(../../../img/icon_plus_w.svg) no-repeat center center #41c1eb;
	background-size:50%;
}
.p-profile__msg {
	margin-bottom:30px;
}
.p-profile__edit {
	display: block;;
	font-size:1.6rem;
	font-weight: 600;
	line-height:1.2;
	padding: .5em 0;
	background:url(../../../img/icon_angle_r.svg) no-repeat right center;
	background-size:auto 40%;
}